/* Variables globales */
:root {
    --color-evalua: #0095ff;
    --color-black-opacity: #7d7d7d;
    --color-pink: #ef2499;

    --color-len: #f47921;
    --color-mat: #ed028a;
    --color-his: #00b4e0;
    --color-cie: #56b947;
}


.form-control {
    padding: 5px!important;
    height: 30px!important
}

.flap-search {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e7ea;
}
.search {
    border: 0!important;
    border-top-right-radius: 20px!important;
    border-bottom-right-radius: 20px!important
}
.container-search {
    display: flex;
    border: 1px solid #e4e7ea;
    border-radius: 20px
}
#form-crear .form-control {
    border-color: #6fbaef
}
.title {
    font-weight: 400
}
.shadow-xs,
.shadow-sm,
.shadow-md,
.shadow-lg {
    background: transparent;
    height: 5px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.09);
    z-index: 1;
    position: relative;
}
.shadow-xs {
    top: 70px
}
.shadow-md {
    top: 40px
}
.shadow-lg {
    top: 40px
}
table.dataTable thead th {
    border: 0;
    font-weight: 500
}
table.dataTable tbody td {
    border-bottom: 1px solid #f3f3f3;
    height: 35px;
    padding: 8px 20px;
    font-weight: 400
}
table.dataTable {
    margin-top: 0!important
}
table.dataTable {
    border: 0
}
table {
    /* collapsed, because the bottom shadow on thead tr is hidden otherwise */
    border-collapse: collapse;
}
.icon-estado {
    font-size: 8px!important;
    margin-right: 13px;
    top: -2px;
    position: relative
}


/* paginador */
#paginador .dataTables_paginate {
    text-align: right
}
#paginador .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.6em;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    cursor: hand;
    color: #333 !important;
    border-radius: 100%;
    background: white;
    font-weight: 400;
    box-shadow: 0px 0px 9px 0px #d5d4d4
}
#paginador .paginate_button.current {
    background: var(--color-evalua);
    color: white!important
}