/* Variables globales */
:root {
    --color-evalua: #0095ff;
    --color-black-opacity: #7d7d7d;
    --color-pink: #ef2499;

    --color-len: #f47921;
    --color-mat: #ed028a;
    --color-his: #00b4e0;
    --color-cie: #56b947;
    --color-bio: #52d942;
    --color-fis: #009d89;
    --color-qui: #8d171b;
}

/* title */
h3.title,
h4 {
    font-weight: 400!important;
    margin: 0
}

.subtitle {
    font-size: 11px;
    color: var(--color-black-opacity);
}

/* panel resumen */
.panel-resumen {
    background: white;
    border-radius: 5px;
    padding: 1px 20px;
    margin: 20px 0;
}
.panel-resumen-title {
    font-weight: 400
}
.panel-resumen-title.len {
    color: var(--color-len)!important
}
.panel-resumen-title.mat {
    color: var(--color-mat)!important
}
.panel-resumen-title.his {
    color: var(--color-his)!important
}
.panel-resumen-title.cie {
    color: var(--color-cie)!important
}
.panel-resumen-title.bio {
    color: var(--color-bio)!important
}
.panel-resumen-title.fis {
    color: var(--color-fis)!important
}
.panel-resumen-title.qui {
    color: var(--color-qui)!important
}
.panel-resumen-body {
    padding: 0;
    list-style: none
}
.panel-resumen-body li{
    margin-top: 20px
}
.panel-resumen-body p {
    font-size: 11px;
    color: var(--color-black-opacity)
}
.panel-resumen-body h5 {
    font-weight: 600
}
#oas-selected td:nth-child(1) > label {
    font-weight: 600;
    margin-bottom: 8px
}
#oas-selected table {
    width: 100%
}
.count-oas {
    font-weight: 400
}

/* Panel evaluación */
.panel-evaluacion {
    background: white;
    border-radius: 5px;
    margin: 20px 0;
}
.panel-evaluacion > img {
    width: 100%
}
.label-preguntas-sug {
    padding: 7px;
    font-weight: 400;
    text-align: right
}
.label-preguntas-sug span {
    font-weight: 600
}
.panel-crear-pregunta {
    padding: 25px
}
.panel-evaluacion-crear {
    padding: 0 20px 5px 20px;
    border: 2px dashed;
    border-radius: 5px
}
.panel-evaluacion-crear .numero-preg,
#container_preguntas .numero-preg,
.panel-evaluacion-crear .leter-resp,
#container_preguntas .leter-resp {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid
}
.panel-evaluacion-crear .numero-preg,
#container_preguntas .numero-preg {
    color: white;
    z-index: 1;
    left: -10px;
    top: 10px;
    position: relative
}
.panel-evaluacion-crear .leter-resp,
#container_preguntas .leter-resp {
    margin: 0 5px 0 0
}
.panel-evaluacion-crear .leter-resp input,
#container_preguntas .leter-resp input {
    display: none
}
.panel-evaluacion-crear .leter-resp span,
#container_preguntas .leter-resp span {
    font-weight: 600
}
.panel-evaluacion-crear .enc-pregunta {
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    top: -10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}
#container_preguntas .enc-pregunta {
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    top: -10px;
    width: 100%;
}
#container_preguntas .enc-pregunta {
    padding: 10px 20px 10px 27px
}
#container_preguntas .enc-pregunta .badges-pregunta {
    margin-right: auto;
    height: 23px;
    border: 1px solid var(--color-evalua);
    padding: 2px 25px;
    border-radius: 20px;
    color: var(--color-evalua)
}
#container_preguntas .enc-pregunta .row-badges {
    display: flex;
    justify-content: flex-end
}
#container_preguntas .enc-pregunta label[check='true'].len::before {
    border-color: var(--color-len)
}
#container_preguntas .enc-pregunta label[check='true'].mat::before {
    border-color: var(--color-mat)
}
#container_preguntas .enc-pregunta label[check='true'].his::before {
    border-color: var(--color-his)
}
#container_preguntas .enc-pregunta label[check='true'].cie::before {
    border-color: var(--color-cie)
}
#container_preguntas .enc-pregunta label[check='true'].fis::before {
    border-color: var(--color-fis)
}
#container_preguntas .enc-pregunta label[check='true'].qui::before {
    border-color: var(--color-qui)
}
#container_preguntas .enc-pregunta label[check='true'].bio::before {
    border-color: var(--color-bio)
}
.panel-evaluacion-crear .container-conf {
    padding: 20px 20px 10px 20px;
    border: 2px dashed;
    border-radius: 5px
}
.panel-evaluacion-crear .container-conf .form-group {
    margin-bottom: 10px!important
}
.panel-evaluacion-crear .container-conf select.form-control {
    height: 32px
}
.panel-evaluacion-crear .container-conf .control-label {
    font-weight: 600
}
.panel-evaluacion-crear .enc-pregunta textarea {
    max-width: 85%;
    min-width: 85%;
    max-height: 60px;
    min-height: 60px;
    resize: none;
    border: 0
}
#container_preguntas .enc-pregunta .row-pregunta > div {
    min-height: 60px;
    width: 85%
}
.panel-evaluacion-crear .enc-pregunta a,
.panel-evaluacion-crear .container-resp .respuesta a {
    font-size: 18px;
    color: #bfbfbf
}

/* Input file */
.panel-evaluacion-crear a.file {
    height: 16px
}
.panel-evaluacion-crear a.file i {
    height: 17px;
    width: 20px
}
.panel-evaluacion-crear a.file i > input {
    width: 20px;
    height: 17px;
    position: relative;
    top: -17px;
    opacity: 0
}
/* end input file */

.panel-evaluacion-crear .container-resp,
#container_preguntas .container-resp {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 10px 0
}
.panel-evaluacion-crear .container-resp.new-resp {
    display: flex;
    align-items: center
}
.panel-evaluacion-crear .container-resp.new-resp a:hover {
    box-shadow: 0px 0px 6px 0px #c7c7c7;
}
.panel-evaluacion-crear .container-resp.new-resp a:active {
    box-shadow: 0px 0px 3px 0px #c7c7c7;
}
.panel-evaluacion-crear .container-resp .respuesta,
#container_preguntas .container-resp .respuesta {
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 3px 20px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
#container_preguntas .container-resp .respuesta {
    border: 0
}
.panel-evaluacion-crear .container-resp .respuesta textarea {
    max-width: 85%;
    min-width: 85%;
    resize: none;
    border: 0
}
#container_preguntas .container-resp .respuesta div {
    max-width: 80%;
    min-width: 80%;
    resize: none;
    border: 0
}
#container_preguntas .enc-pregunta a > i {
    font-weight: 600
}
#container_preguntas .enc-pregunta a {
    padding-top: 4px;
    font-size: 22px;
    color: #bfbfbf
}
#container_preguntas .enc-pregunta a:hover {
    font-size: 24px
}
#container_preguntas .enc-pregunta a:active {
    opacity: 0.8;
    font-size: 22px
}

/* btn */
.btn {
    color:#61b7c3;
}
.btn:hover {
    color: white;
    opacity: .7
}
.btn.len {
    background: var(--color-len)
}
.btn.mat {
    background: var(--color-mat)
}
.btn.his {
    background: var(--color-his)
}
.btn.cie {
    background: var(--color-cie)
}
.btn.bio {
    background: var(--color-bio)
}
.btn.fis {
    background: var(--color-fis)
}
.btn.qui {
    background: var(--color-qui)
}
.btn.len.btn-outline {
    background: transparent;
    border: 1px solid var(--color-len);
    color: var(--color-len)
}
.btn.mat.btn-outline {
    background: transparent;
    border: 1px solid var(--color-mat);
    color: var(--color-mat)
}
.btn.his.btn-outline {
    background: transparent;
    border: 1px solid var(--color-his);
    color: var(--color-his)
}
.btn.cie.btn-outline {
    background: transparent;
    border: 1px solid var(--color-his);
    color: var(--color-cie)
}
.btn.bio.btn-outline {
    background: transparent;
    border: 1px solid var(--color-bio);
    color: var(--color-bio)
}
.btn.fis.btn-outline {
    background: transparent;
    border: 1px solid var(--color-fis);
    color: var(--color-fis)
}
.btn.qui.btn-outline {
    background: transparent;
    border: 1px solid var(--color-qui);
    color: var(--color-qui)
}


.btn.btn-outline:hover {
    color: #61b7c1;
}
.btn.len.btn-outline:hover {
    background: var(--color-len)
}
.btn.mat.btn-outline:hover {
    background: var(--color-mat)
}
.btn.his.btn-outline:hover {
    background: var(--color-his)
}
.btn.cie.btn-outline:hover {
    background: var(--color-cie)
}
.btn.bio.btn-outline:hover {
    background: var(--color-bio)
}
.btn.fis.btn-outline:hover {
    background: var(--color-fis)
}
.btn.qui.btn-outline:hover {
    background: var(--color-qui)
}
