/* Variables globales */
:root {
    --color-evalua: #0095ff;
    --color-black-opacity: #7d7d7d;
    --color-pink: #ef2499;

    --color-len: #f47921;
    --color-mat: #ed028a;
    --color-his: #00b4e0;
    --color-cie: #56b947;
}

/* title */

h5.subtitle {
    font-weight: 600!important;
    margin: 0;
    font-size: 15px;
    color: #535353
}

/* checkbox */
.checkbox {
    margin: 0;
    margin-top: 6px
}
.checkbox label::before {
    height: 24px!important;
    width: 24px!important;
    border-radius: 5px!important
}
.checkbox label::after {
    font-size: 17px!important;
    padding-top: 0px!important
}
.checkbox.len label::after {
    color: var(--color-len)
}
.checkbox.mat label::after {
    color: var(--color-mat)
}
.checkbox.his label::after {
    color: var(--color-his)
}
.checkbox.cie label::after {
    color: var(--color-cie)
}

/* breadcrumbs */
.container-breadcrumbs i,
.container-breadcrumbs h3 {
    display: contents
}
.breadcrumbs {
    color: var(--color-black-opacity)
}