@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Variables globales */
:root {
    --color-evalua: #0095ff;
    --color-black-opacity: #7d7d7d;
    --color-pink: #ef2499;
}
h5, p, label {
    font-family: 'Nunito', sans-serif!important
}
/* Tab header */
.tab {
    background: #d7d7d7;
    overflow: hidden;
    margin-bottom: 5px;
    margin-left: -25.5px!important;
    margin-right: -25.5px!important;
}
.item-tab label {
    display: inline-flex;
    align-items: center;
    padding: 15px 15px 10px;
    color: white;
    font-weight: 600
}
.item-tab label div {
    height: 30px;
    width: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--color-black-opacity);
    margin: 0 15px
}
.item-tab.active {
    background: white
}
.item-tab.active label {
    color: var(--color-black-opacity) 
}
.item-tab.active label div {
    background: var(--color-evalua);
    color: white
}
.item-tab.ok {
    background: var(--color-evalua)
}
.item-tab.ok label div {
    background: #ffffff78;
    color: white
}

/* card */
.container-card {
    display: flex;
}
.flap-card {
    width: 22px;
    margin-right: 11px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}
.content-card {
    padding: 20px;
    width: 100%;
    background: white;
    display: flex
}
.content-card h5 {
    font-weight: 500;
    color: #4c4c4c;
    font-size: 16px
}
.content-card p {
    font-size: 12px;
    color: var(--color-black-opacity)
}

/* panel */
.color-one {
    background: var(--color-evalua)!important
}
.color-dos {
    background: var(--color-pink)!important
}
.container-panel {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background: white;
    height: 405px
}
.head-panel {
    padding: 10px 20px;
    background: var(--color-evalua);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.head-panel h5 {
    color: white;
    font-weight: initial
}
.body-panel {
    margin: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.body-panel h5 {
    color: var(--color-black-opacity);
    font-weight: 400
}
.body-panel .table-responsive {
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    padding: 5px;
    height: 180.5px;
    overflow-y: auto
}
.body-panel table {
    width: 100%
}
.body-panel table tr {
    border-bottom: 1px solid #f2edf9;
    cursor: pointer
}
.body-panel table td {
    padding: 7px 0 5px 0;
    font-size: 11px;
    color: #adadad
}
.body-panel table td i {
    font-size: 15px;
}
.body-panel table td:nth-child(2) {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 10px
}
.body-panel table img {
    margin-top: -3px;
    width: 17px
}
.body-panel table tr.selected {
    background: #0095ff57
}
.body-panel table tr.selected td {
    color: #000;
    font-weight: 600
}
.body-panel table tr.selected td:nth-child(2) {
    color: var(--color-evalua);
    font-weight: 600
}