/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;

  i {
    font-size: 22px;
  }
}

.mini-stat {
  box-shadow: $shadow;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.mini-stat-info {
  font-size: 14px;
  padding-top: 2px;
}

.mini-stat-info span {
  display: block;
  font-size: 24px;
}


.round {
  line-height: 60px;
  color: $white;
  width: 60px;
  height: 60px;
  font-size: 26px;
  display: inline-block;
  font-weight: 400;
  border: 3px solid lighten($bg-topbar,35%);
  text-align: center;
  border-radius: 10%;
  background: lighten($bg-topbar,0%);
}
.bg-progress{
  background-color:lighten($bg-topbar,30%); 
}


.text-greylight{
  color: $greylight;
}

.new-user table td img,
.new-user ul li img {
  margin-right: 8px;
  width: 50px;
}


#boxscroll,
#boxscroll2 {
  height: 450px;
  width: auto;
  overflow: auto;
}


/*--FB-TWIT-Carousel--*/

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.carousel-icon i {
  font-size: 50px;
  width: 80px;
  height: 80px;
  background-color: transparent;
}
#verticalCarousel,
#verticalCarousel2 {
  height: 165px;
}




.custom-dash-nav {
  .active {
    .card {
      background-color: $primary;
      color: $white;
    }
    .search-type-arrow {
      width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 25px solid #ffffff;
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -35px;
        transform: translate3d(3px, 0, 0);
        z-index: 99;
    }
  }
}




.jvectormap-zoomin,
.jvectormap-zoomout{
  display: none;
}
.bg-map{
  background-color: $lightgreen;
  box-shadow: none;
}


#v-cal .vcal-week span{
  font-size: 14px !important;
  padding: 10px;
  font-weight: 500;
}

#v-cal .vcal-date{
  padding: 10px;
}
.bg-weather{
  background-image: url("../images/weather.png");
  background-size: cover;
  background-position: center center;
}