
body
{
    font-family: 'Open Sans', sans-serif;
}


.login-box
{
    border-left: 1px solid #2c3244;
}
.head-login
{
    background: #2c3244; 
    padding-bottom: 20px;
    padding-top: 20px;
}
.head-login a img
{
    margin-bottom:20px;
}
.white-box
{
    margin-top:-30px; 
    padding: 0px 25px;
}
#btn-login
{
    background: #ffb622;
    color: #FFF;
}
.title-description
{
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #FFF;
}
.description
{
    font-size: 14px;
    text-align: center;
    padding: 10px 30px;
    color: #FFF;
}
.login-register 
{
    background-size: 78% 100% !important;
    background-position: 0px 0px!important;
}
@media (max-width: 1080px) {
    .login-register {
        background-size: cover!important;
        background-position: center!important;
    }
}
.cont-btn-plataform 
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.btn-plataform
{
    width: 31%;
    margin: 4px 2px;
    padding: 8px 0px;
    border-radius: 5px;
    color: #fff;
}
.text-plataform
{
    font-size: 14px;
    text-align: justify;
    padding: 22px !important;
}
.border-evalua 
{
    border-bottom: 10px solid #4A90E2 !important;
}
.border-gestiona
{
    border-bottom: 10px solid #e07434 !important;
}
.border-planifica
{
    border-bottom: 10px solid #3ebd65 !important;
}
.after-evalua::after
{
    border-color: #4A90E2 transparent transparent !important;
}
.after-gestiona::after
{
    border-color: #e07434 transparent transparent !important;
}
.after-planifica::after
{
    left: 75% !important;
    border-color: #3ebd65 transparent transparent !important;
}
.after-planifica
{
    left: -20% !important;
}
.evalua
{
    background: #4A90E2;
    border: 2px solid #4A90E2;
}
.evalua:hover
{
    background: #FFF;
    border: 2px solid #4A90E2;
    color: #4A90E2;
}
.evalua:active
{
    background: #dce4ff;
}
.gestiona
{
    background: #e07434;
    border: 2px solid #e07434;
}
.gestiona:hover
{
    background: #FFF;
    border: 2px solid #e07434;
    color: #e07434;
}
.gestiona:active
{
    background: #ffe2d2;
}
.planifica
{
    background: #3ebd65;
    border: 2px solid #3ebd65;
}
.planifica:hover
{
    background: #FFF;
    border: 2px solid #3ebd65;
    color: #3ebd65;
}
.planifica:active
{
    background: #daffe5;
}

@media (max-width: 768px)
{
    .evalua, .gestiona, .planifica 
    { 
        width: 99%; 
    }
    .after-planifica::after
    {
        left: 50% !important;
        border-color: #3ebd65 transparent transparent !important;
    }
    .after-planifica
    {
        left: 50% !important;
    }
}
@media (min-width: 992px) 
{
    .evalua, .gestiona, .planifica 
    { 
        width: 31%; 
    }
}
@media (min-width: 1200px)
{
    .evalua, .gestiona, .planifica 
    { 
        width: 31%; 
    }
}