.page-title, .breadcrumb, .body p
{
	display : inline-block;
}
.asignatura
{
	text-align: center;
	background-color: red;
	padding-top : 10px;
	padding-bottom : 10px;
}
.containerAsignaturas
{
	padding-left : 0.5px!important;
	padding-right : 0.5px!important;
}
.containerAsignaturas > .asignatura {
	color : white!important;
}
.vistaPrevia
{
	padding-left : 2rem!important;
	padding-right : 2rem!important;
	padding-top : 0.3rem;
	padding-bottom : 0.3rem;
	font-weight: 400;
	color : #f47822;
}
.containerAsignaturas:hover
{
	cursor : pointer;
}
.asignaturaSelected > div
{
	background : white;
}
.asignaturaSelected > .matematicas
{
	color : #ed0789!important;
}
.asignaturaSelected > .lenguaje
{
	color : #f47822!important;
}
.asignaturaSelected > .ciencias
{
	color : #56b947!important;
}
.asignaturaSelected > .historia
{
	color : #28b4e0!important;
}
.matematicas
{
	background-color : #ed0789;
}
.lenguaje
{
	background-color : #f47822;
}
.ciencias
{
	background-color : #56b947;
}
.historia
{
	background-color: #28b4e0;
}
[white]
{
	background-color: white;
}
#vistaPreviaContainer
{
	margin-left: 0.3rem;
}
[margin-vertical]
{
	margin-top : 1rem;
	margin-bottom : 1rem;
}
.nivelContainer
{
	width : 75%;
}
.containerNivel
{
    padding: 0px!important;
}
[padding-horizontal]
{
	padding-left : 2rem!important;
	padding-right : 2rem!important;
}
[margin-top]
{
	margin-top : 1em;
}
.firstNivel
{
	margin-left: 2rem;
}
.lastNivel
{
	margin-right: 2rem;
}
.bigger
{
	font-size : 1.7rem;
}
.letter
{
    display: inline-block;
    width: 9%;
    text-align: center;
    background-color: #bdbdbd;
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 10px;
}
.tableFile
{
	border : 1px solid black;
}
.mainRow
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	flex-wrap: wrap;
}
.mainRow .row-eq-height
{
	display: flex;
	flex-direction: column;
}
#vistaPreviaContainer, iframe
{
	height : 96.5%;
}
.letter:hover
{
	cursor: pointer;
}
.letter.orange
{
	color : white;
}
[no-margin-bottom]
{
	margin-bottom : 0px!important;
}
.tableContainer
{
	padding : 10px;
	border : 1px solid darkgrey;
}
.th
{
	display: inline-table;
}
.first
{
	width : 65%;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}
.head .first
{
	display: inline-flex;
	width: 64%;
}
.two
{
	width : 10%;
    margin-left: 1em;
}
.three
{
	float: right;
    margin-right: 1em;
}
.tableContainer hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.body .three
{
	margin-right: 2em;
	color : #f93333;
}
.body img
{
	width : 20px;
}
.head
{
	color: black;
    font-weight: 500;
}
.body
{
	height: 50vh;
	overflow-y: scroll;
}
.file-selected
{
	background-color: #fee6cb;
}
.rowTable
{
	padding-top : 0.5em;
	padding-bottom : 0.3em;
}
.rowTable:hover
{
	cursor: pointer;
}