@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

.container-fluid {
    padding: 15px!important;
}
.white-box {
    box-shadow: 0px 2px 4px -2px #848484;
}
.title-bienvenida {
    margin-top: 35px!important;
    font-family: Raleway;
    font-size: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}
.user-name {
    font-weight: 600;
}
.text-bienvenida {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
}