.jq-icon-info {
	background-color : #2b9bff!important;
}
.title-tipo.active {
	background-color : #f47922;
}
.title-tipo {
	background-color : #bdbdbd;
}
.title-tipo h4 {
	color : white;
	text-align : left;
	padding : 0.3em;
	text-transform : uppercase;
	font-weight : 500;
	margin : 0px;
}
.shadow {
	background: white;
	box-shadow : 0 .125rem .25rem rgba(0,0,0,.075);
	margin : 1em;
	padding : 0px!important;
}
#rowContainer {
	-ms-flex-pack : center!important;
    justify-content : center!important;
    display : flex;
}
#rowContainer .row {
	margin : 0px;
	margin-top : 1em;
	padding : 0.2em;
}
.numbersContent .col-md-12 {
	padding-left : 2em;
	padding-right : 2em;
}
.numbersContent .col-md-12 div {
	display : inline-block;
}
.divider {
	width : 25%;
}
.number, .ellipsis {
	width : 15%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    background : #bdbdbd;
    color : white;
    border-radius: 1em;
    text-align: center;
}
.ellipsis:hover,
.number:hover {
	cursor: pointer;
}
.divider.first {
    border: 1px solid #bdbdbd;
    margin-left: -0.3em;
    margin-right: -0.2em;
}
.divider.last {
    border: 1px solid #bdbdbd;
    margin-left: -0.2em;
    margin-right: -0.3em;
}
.asignaturaContainer button {
	white-space: initial;
	width : 70%;
}
[margin-horizontal] {
	margin-left: 2em;
	margin-right: 2em;
}
.padding-left {
	padding-left: 2em;
}
[margin-vertical] {
	margin-top : 1em;
	margin-bottom : 1em;
}
[no-margin-top] {
	margin-top : 0px!important;
}
[no-margin-bottom] {
	margin-bottom: 0px;
}
[margin-bottom] {
	margin-bottom : 1.5em!important;
}
[no-padding-bottom] {
	padding-bottom: 0px!important;
}
.ellipsis.orange .dropdown-toggle, li.orange a {
	color : white!important;
}
li.orange a:hover {
	background-color : #ef7b00!important;
	color : white!important;
}
.padding {
	padding : 1em;
}
.btn-nivel {
	width : 65%;
}
.btn-nivelCurso {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    width : 90%;
}
.padding-horizontal {
	padding-left : 2em;
	padding-right : 2em;
}
.letter {
	display: inline-block;
    width: 9%;
    text-align: center;
    background-color : #bdbdbd;
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 2%;
   	margin-right : 10px; 
}
.letter:hover {
	cursor: pointer;
}
.letter.orange {
	color : white;
}
.steps {
	background-color: #2b9bff;
}
.step {
	padding: 1em;
	padding-left: 1em!important;
}
.step h6, .step .numberStep{
	display: inline;
}
.numberStep{
	padding: 0.35em;
    border-radius: 14px;
    padding-left: 0.8em;
    padding-right: 0.6em;
}
.step h6 {
	margin-left : 10px;
}
[data-step-nav][passed="false"]{
	background-color: #BDBDBD;
}
[data-step-nav][passed="false"] .numberStep {
	background-color: #DEDFE0;
}
[data-step-nav][passed="false"] h6{
	color: white;
}
[data-step-nav][passed="true"] .numberStep {
	background-color: #62C8F9;
}
[data-step-nav][passed="true"] .numberStep span {
	display: none;
}
[data-step-nav][passed="true"] h6,
[data-step-nav][passed="true"] .numberStep:before {
	color: white;
}
[data-step-nav][passed="true"] .numberStep:before {
	font-size: 14px;
	content: '✓';
}


[data-step-nav][active="true"] {
	background-color: white;
}
[data-step-nav][active="true"] .numberStep {
	background-color: #2b9bff;
	color: white;
}
[data-step-nav][active="true"] h6 {
	color: #2b2b2b;
}

#alumnosList .col-md-12 {
	padding: 2em;
    padding-top: 0px;
    padding-bottom: 0px
}
tr {
	text-align: left;
}
td {
	padding: 8px 8px!important;
}
thead th{
	border-bottom: 1px solid black!important;
}
.red-nota {
	color: #ff7070;
}
.blue-nota {
	color: #219EFB;
}
.empty-nota {
	color: #bcbcbc;
}
.nota{
	text-align: center;
}

/* MODAL */
.modal-body {
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    background: #FFAA39
}
.modal-body.finalizada {
    background: #52DD48!important
}
.modal-contenido {
    border: 1px solid white;
    border-radius: 4px;
    background: white
}
.modal-content {
    border: none!important;
    border-radius: 4px;
    background: transparent
}
button.close {
    margin: 0px;
    background: transparent!important;
    color: #009AF8;
    opacity: 1
}
.modal-title.info-prueba {
    top: 32%;
    margin: auto 0!important;
    position: absolute;
    color: #EA007F;
    font-weight: 500;
    text-transform: uppercase
}
.btn-descargar,
.btn-actualizar {
    margin-right: 10vh;
    transition: all .5s;
    background: transparent!important;
    border: 1px solid #219EFB!important;
    color: #219EFB!important
}
.btn-descargar:hover,
.btn-actualizar:hover {
    color: white;
    background: #219EFB!important
}
.modal-dialog {
    width: 80%;
    height: 87%!important
}
.modal-dialog, .modal-content, .modal-body, .modal-contenido, .modal-header {
    height: 100%
}
.modal-header {
    padding-left: 0px;
    padding-right: 0px
}
object {
    height: 100%;
    width: 100%;
    border-top: 1px solid #4444;
    padding-top: 21px
}
.row.container-evaluacion {
    height: 80%;
    width: 100%;
    margin: 0px;
    margin-top: 21px
}
.first, .last {
    margin-left: 32px
}
.first {
    margin-right: 32px
}