.pregunta img, .pregunta
{
    max-width: 100%;
}
.pregunta img
{
    text-align: center;
}
.no-wrap
{
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pregunta
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-wrap, .no-wrap *
{
    display: inline-block;
}
.pregunta:hover
{
    cursor: pointer;
}
.selected
{
    color: white!important;
    background-color: #2b9bff;
    font-weight: 500;
    text-transform: uppercase;
}