.colorNavbarHeader
{
    background-color: #5ccb85;
}
.colorTopLeftPart
{
    background-color: #252e3a;
}
.contentCenter
{
    display: flex!important; 
    justify-content: center; 
    align-content: center; 
    flex-direction: column;
}
.colorText
{
    color: white;
}
.dropdownBloques
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 8px;
}
.bloqueOne
{
    background-color: #4a90e2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bloqueTwo
{
    background-color: #e98100;
}
.bloqueThree
{
    background-color: #10b274;
}
.bloqueFour
{   
    background-color: #f9b54c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sizeMedia
{
    margin-bottom: 0px; 
    border: none;
}
.colorTextTwo
{
    color: black;
}
.sizeNotify
{
    margin-top: 0;
}
.sizeHeartbit
{
    width: 30px!important; 
    height: 30px!important; 
    top: -42px!important; 
    right: -10px!important; 
    border: 5px solid red!important;
}
.sizePoint
{
    width: 12px!important; 
    height: 12px!important; 
    top: -32px!important; 
    right: 0px!important; 
    background-color: red!important; 
    border: 2px solid white!important;
}
.bloque {
    background: white;
}
.bloque:hover {
    cursor: pointer
}