.colorNavbarDefault
{
    background-color: #252e3a;
}
.user-profile .user-pro-body img
{
    width: auto;
    display:block;
    margin:0 auto 10px
}
.userText
{
    color: white; 
    font-size: 17px;
}
.sizeFa
{
    vertical-align: middle; 
    color: white;
}
.btnEdit
{
    background-color: #219EFB!important; 
    border: 2px solid white!important;
    border-radius: 12px; 
    padding-bottom: 1px; 
    padding-top: 1px;
}
#side-menu>li>a.active
{
    border-left: 5px solid #219EFB;
}
#side-menu>li>a.active i
{
    color: white;
}
.sidebar .arrow
{
    position: absolute;
    right: 15px;
    top: 15px;
}
.nav-second-level
{
    background : #252e3b;
}
.sidebar .nav-second-level li a
{
    padding-left: 22px;
}
.content-wrapper .sidebar .nav-second-level>li>a
{
    background-color: #425061
}
.nav > li:hover, .nav > li > a:focus
{
    text-decoration: none;
}
.borderBottomNav
{
    border-bottom: 1px solid #a9a9a9;
}
.borderTopNav
{
    border-top: 1px solid #a9a9a9;
}
.colorTextNav
{
    color: white!important;
}
.marginNavOne
{
    margin-left: 5px!important;
}
.marginNavTwo
{
    margin-left: 9px!important;
}
.marginNavThree
{
    margin-left: 6px!important;
}
.marginNavFour
{
    margin-left: 9px!important;
}
.marginNavFive
{
    margin-left: 16px!important;
}
.marginNavSix
{
    margin-left: 11px!important;
}
.colorNavSecondLevel
{
    background-color: #425061;
}
@media (max-width: 575.98px)
{
    .footer-menu
    {
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #219EFB;
        color: white;
        padding: 10px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .footer-menu
    {
        display: block;
        top: 90.5%;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #219EFB;
        color: white;
        padding: 10px 0px 10px 0px;
    }
}
@media (min-width: 768px) and (max-width: 1025px)
{
    .content-wrapper .sidebar #side-menu>li>a 
    {
        padding: 15px 17px 15px 11px;
    }
    .footer-menu
    {
        display: block;
        top: 90.5%;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #219EFB;
        color: white;
        padding: 10px 0px 10px 0px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .content-wrapper .sidebar #side-menu>li>a 
    {
        padding: 15px 17px 15px 11px;
    }
    .footer-menu
    {
        display: block;
        top: 90.5%;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #219EFB;
        color: white;
        padding: 10px 0px 10px 0px;
    }
}
@media (min-width: 1200px)
{
    .content-wrapper .sidebar #side-menu>li>a 
    {
        padding: 15px 17px 15px 11px;
    }
    .footer-menu
    {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #219EFB;
        color: white;
        padding: 10px;
    }
}
.nav-second-level .fa-2x
{
    font-size : 1.7em;
}