.positionModal
{
    display: none;
}
@media (max-width: 575.98px)
{
    .contentModal
    {
        border-top-right-radius: 30px; 
        border-bottom-right-radius: 30px; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .rowModal
    {
        margin-top: -15px; 
        margin-bottom: -15px;
        margin-left: -15px; 
        margin-right: -15px;
    }
    .modalPanelLeft
    {
        background-color: #1dcc89; 
        display: flex; 
        justify-content: center; 
        align-content: center; 
        flex-direction: column; 
        border-top-left-radius: 30px; 
        border-top-right-radius: 30px; 
    }
    .modalPanelRigth
    {
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .contentModal
    {
        border-top-right-radius: 30px; 
        border-bottom-right-radius: 30px; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .rowModal
    {
        margin-top: -15px; 
        margin-bottom: -15px;
        margin-left: -15px; 
        margin-right: -15px;
    }
    .modalPanelLeft
    {
        background-color: #1dcc89; 
        display: flex; 
        justify-content: center; 
        align-content: center; 
        flex-direction: column; 
        border-top-left-radius: 30px; 
        border-top-right-radius: 30px; 
    }
    .modalPanelRigth
    {
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .contentModal
    {
        border-top-right-radius: 30px; 
        border-bottom-right-radius: 30px; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .rowModal
    {
        margin-top: -15px; 
        margin-bottom: -15px;
        margin-left: -15px; 
        margin-right: -15px;
    }
    .modalPanelLeft
    {
        background-color: #1dcc89; 
        display: flex; 
        justify-content: center; 
        align-content: center; 
        flex-direction: column; 
        border-top-left-radius: 30px; 
        border-top-right-radius: 30px; 
    }
    .modalPanelRigth
    {
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .contentModal
    {
        border-top-right-radius: 30px; 
        border-bottom-right-radius: 30px; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .rowModal
    {
        display: flex; 
        margin-top: -15px; 
        margin-bottom: -15px;
        margin-left: -15px; 
        margin-right: -15px;
    }
    .modalPanelLeft
    {
        background-color: #1dcc89; 
        display: flex; 
        justify-content: center; 
        align-content: center; 
        flex-direction: column; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .modalPanelRigth
    {
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}
@media (min-width: 1200px)
{
    .contentModal
    {
        border-top-right-radius: 30px; 
        border-bottom-right-radius: 30px; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .rowModal
    {
        display: flex; 
        margin-top: -15px; 
        margin-bottom: -15px;
        margin-left: -15px; 
        margin-right: -15px;
    }
    .modalPanelLeft
    {
        background-color: #1dcc89; 
        display: flex; 
        justify-content: center; 
        align-content: center; 
        flex-direction: column; 
        border-top-left-radius: 30px; 
        border-bottom-left-radius: 30px;
    }
    .modalPanelRigth
    {
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}
.colorTextModal
{
    color: white;
}
.btnCancel
{
    background-color: white; 
    border: 1px solid #a9a9a9;
}
.btnSave
{
    background-color: #1dcc89; 
    color: white;
}