.body-alumno {
    background-color:#f3f3f3;
    min-height: -webkit-fill-available;
}

.panel-heading {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    text-transform: unset !important;
}

.panel-heading-alumno-asignatura {
    opacity: 0.87;
    font-family: Nunito 'sans-serif';
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.panel-heading-alumno-evaluacion {
    opacity: 0.87;
    font-family: Nunito;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.panel-footer-profesor-titulo {
    opacity: 0.54;
    font-family: Nunito;
    font-size: 16px;

    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
}
.panel-footer-profesor-nombre {
    font-family: Nunito;
    font-size: 18px;
    margin-top: -10px;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
}

.panel-alumno {
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.btn-alumno {
    width: 227px;
    height: 60px;
    margin-top: 20px;
    border-radius: 88px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #0095ff;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
}

.btn-MATE{
    color: #ED028A;
}
.btn-MATE:hover{
    background-color: #ED028A;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}

.btn-LENG{
    color: #F87E38;
}
.btn-LENG:hover{
    background-color: #F87E38;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}

.btn-HISTO{
    color: #00b4e0;
}
.btn-HISTO:hover{
    background-color: #00b4e0;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}

.btn-CIEN{
    color: #55B746;
}
.btn-CIEN:hover{
    background-color: #55B746;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}

.btn-BIO{
    color: #52D942;
}
.btn-BIO:hover{
    background-color: #52D942;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}

.btn-FIS{
    color: #009D89;
}
.btn-FIS:hover{
    background-color: #009D89;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}

.btn-QUIM{
    color: #8D171B;
}
.btn-QUIM:hover{
    background-color: #8D171B;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff !important;
}
