            body{
                background-color:#00b355;
                height: -webkit-fill-available;
            }

            @media (min-width: 800px){
                .container{
                        height:580px;
                }

            }
            .container{
                background-color: white;
                padding-bottom:5%;
                padding-top:2%;
                box-shadow: 0 11px 31px 0 rgba(0, 0, 0, 0.16);
                border-radius: 30px;
            }

            .titulo-portal{
                text-align:center;
                font-family: 'Raleway', sans-serif;
                /* font-size:25pt; */
                color: #504D4F;
                margin-top: 10px;
                margin-bottom: 25px;
            }

            .img-login{
                width:75%;
                max-width:400px;

            }

            .columna-login{
                text-align: center;
            }

            .iso-plataforma{
                width:60px;
            }

            .logo-plataforma{
                width: 250px;
                margin-top:15px;
            }

            #row-contenido{
                width: 90%;
                margin-top:30px;
                height:100% !important;
                
            }

            .columna-login p{
                margin-top:25px;
                color:#939393;
                font-family:Nunito;
                font-weight:300;
                font-size:14pt;
                margin-left:15px;
                margin-right:15px;
            }

            .formulario{
                font-family: Nunito;
            }

            .user-input{
                color:#00a0f3 !important;
            }

            .user-input::placeholder{
                color:#939393;
            }

            .btn-input{
                background-color:#00b355;
                color:white;
            }

            .btn-input:hover{
                background-color:#69c5ff;
                color:white;
            }
