.row-hover:hover,
.row-hover:active,
.row-hover:focus {
    background-color: #e2e2e2 !important;
}

.footable-row-detail .table td {
    background-color: #e2e2e2;
}

.footable-row-detail .table>thead>tr>th {
    background-color: #5db0ef;
    color: #fff;
}

.footable-row-detail {
    border-bottom: 2px solid #5db0ef;
}