
#analisis_length,
#analisis_filter {
    display: none!important;
}
.dataTables_filter {
    width: 50%;
    float: left!important;
}
.dataTables_filter > label {
    width: 100%;
    text-align: left;
}
.dataTables_filter > label > input {
    width: 60%;
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 3px;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}