@import url('https://fonts.googleapis.com/css?family=Raleway');

input
{
    pointer-events : none;
}


.bubble
{
   position: relative;
   height: 120px;
   padding: 0px;
   background: #ffffff;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -20px;
    left: 125px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -20px;
    left: 25px;
}
