@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Variables globales */
:root {
    --color-evalua: #0095ff;
    --color-black-opacity: #7d7d7d;
    --color-pink: #ef2499;

    --color-len: #f47921;
    --color-mat: #ed028a;
    --color-his: #00b4e0;
    --color-cie: #56b947;
    --color-fis: #009D89;
    --color-qui: #8D171B;
    --color-bio: #52D942;
}

/* titulo oas */
.title-oas {
    margin-left: 0!important
}
.title-oas h5 {
    font-weight: initial;
    color: var(--color-black-opacity)
}

/* panel */
.container-panel {
    height: 285px
}
.head-panel {
    border-radius: 5px;
    background: #d7d7d7;
    display: flex;
    justify-content: space-between
}
.head-panel h5 {
    font-weight: 600
}
.head-panel > .checkbox {
    margin: 0;
    margin-top: 6px
}
.head-panel > .checkbox label::before {
    height: 24px;
    width: 24px;
    border-radius: 5px
}
.head-panel > .checkbox label::after {
    font-size: 17px;
    padding-top: 0px
}
.body-panel {
    overflow: hidden;
    height: 170px;
}
.container-panel small {
    color: #b2b2b2;
    cursor: pointer
}
.container-panel small:hover {
    color: var(--color-evalua)
}
.container-panel > .row {
    margin: 10px 0;
    position: absolute;
    right: 33px;
    bottom: 0
}

/* checkbox */
.checkbox.len label::after {
    color: var(--color-len)
}
.checkbox.mat label::after {
    color: var(--color-mat)
}
.checkbox.his label::after {
    color: var(--color-his)
}
.checkbox.cie label::after {
    color: var(--color-cie)
}
.checkbox.bio label::after {
    color: var(--color-bio)
}
.checkbox.fis label::after {
    color: var(--color-fis)
}
.checkbox.qui label::after {
    color: var(--color-qui)
}

/* Oas seleccionados */
.name-oa {
    font-weight: 600
}
/* Modal tabulación */
#modal-tabulacion table {
    width: 100%;
}
#modal-tabulacion table th,
#modal-tabulacion table td {
    text-align: center;
    width: 40px;
}
#modal-tabulacion table input {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #858586;
    text-align: center;
    text-transform: capitalize;
}
.incorrecta {
    border: 2px solid red!important;
    color: red;
}
.correcta {
    border: 2px solid blue!important;
    color: blue;
}

.btn-reiniciar {
    background: #db2a2a!important;
    border: 1px solid #db2a2a!important;
    color: #FFF;
}
