.asignacionBackground {
    width: 100%;
    border-radius: 6px;
    padding: 0px;
    margin: 0px;
    padding-left: 2.5%!important;
}
.asignacionBackground.finalizada {
    margin-bottom : 2.2em;
}
.asignacionBackground.finalizada:last-child {
    margin-bottom : 0px;
}
.asignacionBackground.finalizada {
    background-color: #52DD48;
}
.asignacionBackground.ejecucion {
    background-color: #FFAA39;
}
.asignacionBackground.ejecucion .asignacionContainer {
    border:1px solid #FFAA39;
}
.asignacionBackground.finalizada .asignacionContainer {
    border: 1px solid #52DD48;
}
.asignacionBackground.ejecucion .hr-home,
.asignacionBackground.finalizada .hr-home {
    border: 1px solid #52DD48;
}
.HIST .title-asignatura h5 {
    color: #00B4E0;
}
.LENG .title-asignatura h5 {
    color: #F47921;
}
.CIEN .title-asignatura h5 {
    color: #56B947;
}
.MATE {
    color: #ED028A;
}
.HIST .activeNumber span {
    background-color: #00B4E0;
}
.LENG .activeNumber span {
    background-color: #F47921;
}
.MATE .activeNumber span {
    background-color: #ED028A;
}
.CIEN .activeNumber span {
    background-color: #56B947;
}
.asignacionContainer {
    background-color: white;
    width: 101%;
    border-radius: 6px;
    padding-top: 0.4em;
    padding-bottom: 0.9em;
}
.asignacionContainer .col-md-2:first-child {
    padding-left: 1em;
    padding-right: 0px;
}
.asignacionContainer.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.asignacionContainer.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
[no-margin-bottom] {
    margin-bottom: 0px;
}
[margin-top] {
    margin-top: 0.5em;
}
[margin-top-1] {
    margin-top: 2.5em!important;
}
.hr-home {
    margin : 0px;
}
.asignacionBackground.ejecucion .hr-home {
    border : 1px solid #fcac01;
}
.p-dinamic {
    display : inline-block;
}
.ver-prueba,
.planilla-usuarios {
    font-weight: 500;
    color: #219EFB;
}
strong {
    font-weight: 700;
}
.title-asignatura  {
    margin-top : 1em;
    white-space: nowrap;
    text-align: center;
}
.title-asignatura h5 {
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    color : #F57536;
    margin : 0px;
    font-weight: 500;
    font-size: 1.1em;
}
.numero {
    display : inline-block;
    width : 15.6%;
    position: relative;
    z-index: 1;
}
.numero:before {
    content: '';
    position: absolute;
    border-bottom: 2px #F57536 solid;
    width: 5vh;
    top: 50%;
    left: 50%;
    z-index: -10;
}
.lastNumber:before {
    width: 0%;
}
.numero span {
    background-color: #F57536;
    color: white;
    border-radius: 15px;
    padding: 0.6rem;
    font-size: 0.8em;
    width: 2.2em;
    display: block;
    text-align: center;
}
.icons-number {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.icons-number i {
    font-weight: 500;
}
.icon-number {
    border: 2px solid #219dfb;
    display: inline-block;
    border-radius: 1px;
    padding: 0.1em;
    font-weight: 500;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 1.5em;
    color: #219dfb;;
}
.title-data {
    font-weight: 500;
    margin-top : 1em;
    margin-bottom : 1em;
}
.pagination-split li a {
    border-radius: 1em!important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #009AF8!important;
    border-color: #009AF8!important;
}
[black] {
    border-color: #a9a4a4;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
[margin-top-title] {
    margin-top : 1.6em!important;
}
#filtrosContainer {
    background-color: white;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
#title-filtros {
    color : gray;
    display: inline-block;
}
#btn-limpiarFiltros {
    float: right;
    display: table-row;
}
[padding-left-1] {
    padding-left: 1em;
}
.checkbox-inline-custom * {
    display: inline;
}
.checkbox-inline-custom h6 {
    color : #353535;
    color: gray;
    font-weight: 400;
}
.checkbox-inline-custom input[type="checkbox"],
.btn-descargar {
    float: right;
}
.asignaturaFilter {
    display: list-item;
    list-style-type: square !important;
}
.checkbox-inline-custom:hover {
    cursor: pointer;
}
.checkbox-inline-custom * {
    pointer-events: none;
}
.activeFiltro h6 {
    color: #219dfb;
    font-weight: 600;
}
.pCurso {
    font-size: 0.8em;
}
.noActiveBefore:before {
    border-bottom: 2px #818181 solid;
}
.noActiveNumber span {
    background: gray;
}
.activeNumber span {
    font-weight: 700;
}
[no-events] {
    pointer-events: none;
}
code {
    margin-right: 1rem;
}
.numerosContainer {
    max-width: 94%;
    margin: 0 auto;
}
.col-same-height {
    float: none;
    display: table-cell;
    vertical-align: top
}
.col-same-height.middle {
    vertical-align: middle;
    padding: 0px
}
#rowData {
    display: table
}
.modal-body {
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    background: #FFAA39
}
.modal-body.finalizada {
    background: #52DD48!important
}
.modal-contenido {
    border: 1px solid white;
    border-radius: 4px;
    background: white
}
.modal-content {
    border: none!important;
    border-radius: 4px;
    background: transparent
}
button.close {
    margin: 0px;
    background: transparent!important;
    color: #009AF8;
    opacity: 1
}
.modal-title.info-prueba {
    top: 32%;
    margin: auto 0!important;
    position: absolute;
    color: #EA007F;
    font-weight: 500;
    text-transform: uppercase
}
.btn-descargar {
    margin-right: 10vh;
    transition: all .5s;
    background: transparent!important;
    border: 1px solid #219EFB!important;
    color: #219EFB!important
}
.btn-descargar:hover {
    color: white;
    background: #219EFB!important
}
.modal-dialog {
    width: 80%;
    height: 87%!important
}
.modal-dialog, .modal-content, .modal-body, .modal-contenido, .modal-header {
    height: 100%
}
.modal-header {
    padding-left: 0px;
    padding-right: 0px
}
object {
    height: 100%;
    width: 100%;
    border-top: 1px solid #4444;
    padding-top: 21px
}
.row.container-evaluacion {
    height: 80%;
    width: 100%;
    margin: 0px;
    margin-top: 21px
}
.first, .last {
    margin-left: 32px
}
.first {
    margin-right: 32px
}
.table-responsive table .fa.fa-user {
    color: #219EFB
}
.table-responsive {
    margin-left: 24px
}
.table-responsive thead th {
    border-bottom: 1px solid!important
}
input.incorrecta,
input.correcta,
input.omitida {
    border-radius: 6px;
    padding: 3px 6px;
    font-weight: 500;
    color: black;
    width: 28px;
    text-align: center
}
input.incorrecta {
    border: 2px solid red
}
input.correcta {
    border: 2px solid blue
}
input.omitida {
    border: 2px solid gray;
}
#planilla-usuarios .row.container {
    width: 100%;
    height: 83%
}
.progress {
    width: 60%;
    height: 7px!important;
    margin-bottom: 0px!important;
    display: inline-block;
}
.progress .progress-bar {
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 20px
}
.red-nota {
	color: #ff7070;
}
.blue-nota {
	color: #219EFB;
}
.empty-nota {
	color: #bcbcbc;
}
.nota {
	text-align: center;
}
[aria-valuenow="100"] {
    background: #52DD48!important;
}
#body-planilla-tabulacion td {
    padding: 5px 8px!important;
    vertical-align: middle;
}
#body-usuarios td {
    padding: 7px 8px!important;
    vertical-align: middle;
}
.btn-reiniciar {
    background: #db2a2a!important;
    border: 1px solid #db2a2a!important;
    color: #FFF;
}
.btn-reiniciar:hover {
    background: #e45050!important;
    color: #FFF;
}
span.switchery {
    height: 15px!important;
}
span.switchery > small {
    height: 15px!important;
    width: 15px!important;
}
.table-responsive {
    overflow: auto!important;
    height: -webkit-fill-available;
    margin-top: 2%;
}
.js-switch {
    float: left;
}

.input-alt {
    text-transform: uppercase;
}
