/* Switchery */
span.switchery {
    height: 15px!important;
}
span.switchery > small {
    height: 15px!important;
    width: 15px!important;
}

/* Modal curso */
#modal-curso .modal-dialog,
#modal-evaluacion .modal-dialog,
#modal-tabulacion .modal-dialog {
    width: 80%;
}
#modal-curso .modal-header {
    border-bottom: 0;
}
#modal-curso .modal-header .modal-title {
    color: #219EFB;
    font-weight: 500;
}
#modal-curso .modal-header p {
    font-size: 13px;
    font-weight: 400;
}

/* Modal evaluación */
#modal-evaluacion .modal-dialog,
#modal-evaluacion .modal-body {
    height: 100%;
}
#modal-evaluacion .modal-content {
    height: 80%;
}
#modal-evaluacion object {
    width: 100%;
    height: 90%;
}

/* Modal tabulación */
#modal-tabulacion table {
    width: 100%;
}
#modal-tabulacion table th,
#modal-tabulacion table td {
    text-align: center;
    width: 40px;
}
#modal-tabulacion table input {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #858586;
    text-align: center;
    text-transform: capitalize;
}
.incorrecta {
    border: 2px solid red!important;
    color: red;
}
.correcta {
    border: 2px solid blue!important;
    color: blue;
}

.btn-reiniciar {
    background: #db2a2a!important;
    border: 1px solid #db2a2a!important;
    color: #FFF;
}